/* Navbar.css */
.navbar {
  background-color: #35465d;
  color: white;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', monospace;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-link {
  cursor: pointer;
  font-size: 23px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f06060; 
}

.custom-link {
  text-decoration: none;
  color: inherit; 
}

/* CSS for smaller screens (e.g., mobile) */
@media (max-width: 767px) {
  .navbar {
    background-color: #35465d;
    color: white;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }

  .navbar-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
  }

  .navbar-links {
    list-style-type: none;
    padding: 0;
  }

  .navbar-link {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
    margin: 5px 0;
  }

  .navbar-link:hover {
    color: #f06060; 
  }
}
