/* SearchBar.css */
.search-bar {
  background-color: #f06060; /* Match the highlight color in the navbar */
  padding: 20px;
  text-align: center;
}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background-color: white;
  color: #f06060; /* Match the highlight color in the navbar */
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #35465d; /* Change to your preferred button hover color */
  color: white;
}

/* @media (max-width: 767px) {
  .search-bar {
    background-color: #f06060;
    padding: 10px; 
    text-align: center;
  }
  
  .search-input {
    width: 100%; 
    padding: 10px;
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; 
  }
  
  .search-button {
    background-color: white;
    color: #f06060;
    padding: 10px 20px;
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #35465d;
    color: white;
  }
} */
